version: '3.8'

services:
  # --- 백엔드 서비스 ---
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    container_name: my_backend

  # --- 프론트엔드 서비스 (프로덕션 빌드) ---
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    container_name: my_frontend
    depends_on:
      - backend